@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&family=Goblin+One&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  --container-margin: 2rem;
}

.header {
  padding: var(--container-margin);
  display: flex;
}

.header h1 {flex: 1;}

h1 {
  color: #EB480D;
  font-family: 'Goblin One', serif; 
  margin: 0; 
  font-size: 1.7rem;
  font-weight: normal;
}

.container {
  padding: var(--container-margin);
  background-size: cover;
}

.inputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 0.5rem;
}

h3 {
  /* color: #EB480D; */
  color: #121212;
  font-family: 'Goblin One', serif; 
  margin: 0; 
/*   font-size: 1.2rem; */
  font-weight: normal;
}

.center {
  max-width: 950px;
  margin: 0 auto;
}

button {
  background-image: url('../assets/images/postcards_02_input.png');
  background-size: cover;
  text-align: left;
  border: none;
  padding: 0.6rem 3rem;
  border-radius: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}

button {
  outline: 3px solid transparent;
  transition: outline 0.1s;
}

button:hover {
  outline: 3px solid #EDD6A6;
}