/* Socials */
.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin: 1.5rem 0 2rem 0;
}

.socialTile {
    text-decoration: none;
    color: #121212;
    display: block;
    display: flex;
    align-items: center;
    background-image: url('../assets/images/old_paper6_2_1.png');
    padding: 1rem;

    outline: 3px solid transparent;
    transition: outline 0.1s;
}

.platformName {
    margin-left: 1rem;
}

.socialTile:hover {
    outline: 3px solid #EDD6A6;
}

/* Proposals */
.proposals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 1.5rem;
    margin: 1.5rem 0 2rem 0;
    margin-left: -0.5rem;
    width: calc(100% + 1rem);
}
