.appInner {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black !important;
    zoom: 0.9;
    line-height: normal;
}

.waterMask {
    -webkit-mask-image: url("/images/brush.png");
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}
[style*="--aspect-ratio"]> :first-child {
    width: 100%;
}

[style*="--aspect-ratio"]>img {
    height: auto;
}

@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }

    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    [style*="--aspect-ratio"]> :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

.avatar {
    vertical-align: middle;
    object-fit: cover;
    width: 150px;
    margin: 0.7em;
}

.item span {
    display: block;
}

.links a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding: 5px 5px 0 0;
}

.sl a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-right: 3px;

}

.sl {
}

.truncated {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    color: unset;
    text-transform: unset;
    font-family: 'Roboto', sans-serif;
}

.subtitle-h4og {
    font-weight: bold;
    font-size: 0.9em;
}

.typeItem {
    cursor: pointer;
    padding: 3px;
    background-color: #f6df61;
    margin: 0 2px 2px 0;
    font-size: 0.8em;
    display: inline-block !important;
}

.languageItem {
   cursor: pointer;
    padding: 3px;
    background-color: #65c7a1;
    margin: 0 2px 2px 0;
    font-size: 0.8em;
    display: inline-block !important;
}


.description {
    margin: 0.5em 0 0 0;
    font-size: 0.9em;
    overflow-wrap: break-word;
}

.ws {
    margin-top: 1em;
}

.date {

}

.time {
    font-weight: bold;
    font-size: 2em;
}

.ws-link {
    text-transform: uppercase;
}

.footer {
    margin: 2em 1em;
}

.tags {
    margin: 0.5em 0;
}

.upper {
    display: flex;
    flex-direction: column;
    max-height: 220px;
}

.item {
    display: block;
    position: absolute;
    z-index: 1;
    mix-blend-mode: multiply;
    /*max-width: 100%;*/
}
.person {
    width: calc(230px * 2);
}
.collection {
    width: calc(230px * 2);
}
.verticalPerson, .vertical {
    width: calc(230px * 1);
}

.square {
    width: calc(230px * 2);
}

.thumbimage{
    height: 150px;
    width: calc(100% - 1em - 1em);
    margin: 1em 1em 0 1em;
}

.scrollable {
    overflow-y: auto;
    overflow-wrap: break-word;
}

/* 240px each column */ 
.item::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: 100% 100%;
    transform: scale(1.1);
}

.person::before {
    background-image: url('/images/cards/red-h.png');
}

.project::before {
    background-image: url('/images/cards/green-v.png');
}

.collection::before {
    background-image: url('/images/cards/yellow.png');
}

.h-box {
    width: 100%; 
    height: 100%;
    display: flex;
}

.v-box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 290px;
    justify-content: space-between;
}

.imagebox{
    display: flex;
    align-items: center;
    flex-shrink: 0;
} 

.infobox {
    padding: 0.8em 0.8em 0.8em 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: space-between;
}

.peopletxt {
    max-height: 144px;
}

.grid {
    position: relative;

}

.item.muuri-item-dragging {
    z-index: 3;
}

.item.muuri-item-releasing {
    z-index: 2;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item-content {
    position: relative;
}

.filters {
    display: flex;
    margin-bottom: 50px;
    margin-left: -30px;
    flex-wrap: wrap;
}

.filters h2 {
    font-size: 20px;
}
.filter {
    margin-left: 20px;
    min-width: 200px;
    max-width: 450px;
}

.timezoneFilter {
    margin-left: 30px;
    min-width: 117px;
    max-width: 117px;
}

.typeFilter {
    flex-shrink: 0;
}
.typeFilter ul {
    list-style: none;
    padding-left: 0;
}
.typeFilter li {
    display: inline-block;
    margin-right: 5px;
}
.typeFilter input {
    display:none;
}
.typeFilter label {
    cursor: pointer;
    display: inline-block;
    position: relative;
}
.typeFilter label img {
    height: 70px;
}
.typeFilter input:checked + label img {
    visibility: hidden;
}
.typeFilter label span {
    display: none;
    position: absolute;
    top:  50%;
    left: 0;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
}
.typeFilter input:checked + label span {
    display: inline-block;
   
}

svg#timezoneMap:hover g {
    opacity: 0.5;
}

svg#timezoneMap.activeMap g {
    opacity: 0.3;
}

svg#timezoneMap g.activeTimezone {
    opacity: 1 !important;
}

svg#timezoneMap g:hover {
    opacity: 1 !important;

}
svg#timezoneMap g {
    cursor: pointer;
}

.activeLanguageBody .languageItem:not(.activeLanguage), .activeDescribeBody .typeItem:not(.activeDescribe) {
    opacity: 0.3;
}
